.profilcontent {
    display: flex;
    justify-content: space-around;
   
    flex-wrap: wrap;
    gap: 10px;

}
.card {
    width: 250px; 
    height: auto;
    background-color:#6F7DDE; 
    border-radius: 20px;
}
.card a {
    text-decoration: none;
    color: rgb(158, 19, 250);
    

}
.card h2 {
    font-size: 20px;
    text-align: center;
    
}
.card img {
    width: 100%;
    height: auto;

}